<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16"
          href="../static/icons/favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="../static/icons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="64x64"
          href="../static/icons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="120x120"
          href="../static/icons/favicon-120.png">
    <title>Типо админка</title>
</head>
<body>
Приветствую {{username}}. Здесь должна быть админка, так что ждем, пока Миша ее
сделает.
</body>
</html>