<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Прибытие в ССР Аниарку</title>
</head>
<body>
<form class="blank">
	<h2>Добро пожаловать на ССР Аниарку!
		<br>
	</h2>
	<h3>
		Перед пересечением границы необходимо заполнить регистрационный бланк.
		<br>
		Слава Аниарку!
	</h3>
	<br>
	<br>
	<br>
	<label class="blank-p">Заполните Ваши персональные данные.</label>
	<br>
	<p>
		<label class="category-head">ФИО</label>
		<br>
		<input id="lastname" class="data-input" type="text" name="lastname"
			   placeholder="Фамилия">
		<br>
		<input id="firstname" class="data-input" type="text" name="firstname"
			   placeholder="Имя">
		<br>
		<input id="middlename" class="data-input" type="text" name="middlename"
			   placeholder="Отчество">
	</p>
	<p>
		<label class="category-head">Самоидентичность</label>
		<br>
		<input id="nation" class="data-input" type="text" name="nation"
			   placeholder="Национальность">
		<br>
		<input id="religion" class="data-input" type="text" name="religion"
			   placeholder="Вероисповедание">
	</p>
	<p>

	</p>
	<label class="category-head">Пожелания</label>
	<br>
	<input id="nickname" class="data-input" type="text" name="nickname"
		   placeholder="Желаемое прозвище">
	<br>
	<br>
	<label class="under-category-head">Желаемая роль</label>
	<select id="select-role">
		<option class="select-role" value="role-rab">Работяга</option>
		<option class="select-role" value="role-CPSU">КПСС</option>
	</select>
	<p>
		<label class="category-head">Пол</label>
	<div class="radio-sex">
		<input id="sex-male" type="radio" name="sex" value="male">
		<label for="sex-male"> Мужской </label>
	</div>
	/
	<div class="radio-sex">
		<input id="sex-female" type="radio" name="sex" value="female">
		<label for="sex-female"> Женский </label>
	</div>
	</p>
	<p>
		<label class="category-head">Дата рождения</label>
		<br>
		<input id="birthday" class="input-date" type="date" name="birthday">
	</p>
	<p>
		<button onclick="SendData()">
			<label>Отправить</label>
		</button>
	</p>
</form>

<script src="../static/javascript/dataSend.js"></script>
<script src="../static/javascript/roleLoad.js"></script>

</body>
</html>